[submodule "cpython"]
    path = cpython
    url = git@github.com:python/cpython.git
    branch = v3.14.0

[submodule "wasi-sdk"]
    path = wasi-sdk
    url = git@github.com:WebAssembly/wasi-sdk.git
    branch = wasi-sdk-29

[submodule "numpy"]
    path = numpy
    url = git@github.com:numpy/numpy.git
    branch = v2.2.5
